*.png
__pycache__/
*.pickle
*.csv
*.zip
.DS_Store
*.svg
*.metadata.json
*models/
creds.yml
hand_coded_training_data/
hover_train_svg/
training_data.csv
shingles.csv
.ipynb_checkpoints/
generating_quantiles.txt
